
body {
    font-family: "Montserrat";
    color: white;
    background-image: url("starry-background_2012875.jpg")
    /* font-size: 25px; */
}
.NewBack{
    font-family: "Montserrat";
}
.BackGround{
    color: white;
    background-color: rgb(0, 110, 255);
}
.biggerfontsize{
    font-size: 20px;
}
.fontsize{
    font-size: 30px;  
    padding-top: 20px; 
    padding-left: 300px;
    padding-right: 300px;
}   
.bordererr{   
    border-radius: 3%;  
}
.buttonsbigger{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.blacktext{
    color:black;
    font-size: 20px;
}
.blacktextonly{
    color:black;
} 
.blackfontsize{
    font-size: 40px;
    padding-left: 300px;
    padding-right: 300px;
    color:black;
}
.smallfont{
    font-size: 15px;
    color:black;  
    background-color:white;
}
.borderor{
    background-color: lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
} 
/*Home page css*/

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}
/* Top Middle */
.top-middle {
    position: absolute;
    left: 40%;
    top: 20%;
} 
/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}


/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(251, 236, 255) ;
 font-size: 75px
}
img {
    opacity: .9;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    padding: 20px;
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;    
}
/* Test 
.images1 {
    width: "";
    height: "";
}*/
/*@media (min-width: 320) {
    body {
        font-size: 30px;  
    }   
    images1 {
        width: 100px;
        height: 50px;
    }

}
img {
    width: 100%;
    height: auto;
} */   


img{
    max-width: 100%;   
    max-height: 100%;
}


   
/* Extra small devices (phones, 600px and down)*/
@media only screen and (max-width: 600px) {
    body{
        font-size: 35px;
    }           
        
}           

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        font-size: 30px;
    }
    
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        font-size: 25px;

    }


} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        font-size: 20px;
    }


} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
    font-size: 20px;


} 



  






@font-face {
    font-family: BTTF;
    src: url(BTTF.ttf);
}
@font-face {
    font-family: Lazer84;
    src: url(Lazer84.ttf);
}
ul {
    text-align: center;
    list-style-position: inside;
}

.center{
    margin-right:auto;
    margin-left:auto;
}

.btn-2 {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  }

.btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
   }

   .container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    min-height: 100vh;
   }

   body {

    height: 1000px;
  }
  
  
  .title {
    position: left;
    top: 10%;
    left: 100px;
  }
  .whitetext{
      color:white;
  }


  .rides{
      background-color:black;
  }





/* css for space and white text.*/

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.galaxyPic{
    position: relative;
    width: 100%;
}

.relBox{
    width: 100%;

}

.fa-facebook {
    color:#3b5998;
  }
  .fa-twitter {
    color: #00aced;
  }
  .fa-google-plus-g {
    color: #517fa4
  }
  .fa-instagram {
    color: #517fa4;
  }
  .fa-youtube {
    color: #bb0000;
  }
  .fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover, {
  color:#d5d5d5
}


.custom_nav { 
    background: rgba(27, 29, 117, 0.473);
}

#indexh1 {
 font-family: BTTF; 
 font-size: 45pt; 
 color: white;
}
